openapi: 3.0.0
info:
  title: files
  version: '1.0'
  description: API for Files
  contact:
    name: Magnetic Asia
    url: 'https://www.magneticasia.com/'
    email: info@magneticasia.com
  termsOfService: 'https://www.magneticasia.com/terms-conditions.html'
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
servers:
  - url: 'https://magneticasia.stoplight.io/mocks/magneticasia/openapi-sessions/336833'
    description: Stoplight Mock Server
tags:
  - name: Files API
    description: Files CRUD and related stuff.
paths:
  /files/images:
    get:
      summary: get-images
      tags:
        - Files API
      responses:
        '200':
          description: OK
      operationId: get-images
      description: GET Images
    post:
      summary: Post Image
      operationId: post-image
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
              examples:
                example-1:
                  value:
                    status: success
      description: POST Image
      parameters:
        - schema:
            type: string
            pattern: application/json; version=1
          in: header
          name: Accept
          required: true
        - schema:
            type: string
            pattern: ^(en|zh-hant|zh-hans|ja|ko)$
          in: header
          name: Accept-Language
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: uri
              required:
                - file
            examples:
              example-1:
                value:
                  file: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAgAElEQVR4nN29aZgcx3km+EZEZtZd1dV3oy80TgIEAZIiKZISbw29EiXZlrQryabl2bGHj3fHs6ORRuO1rLF3bOs0tUPKkj0WKa52JJGiRB0mJd4gwQPgIRAkARAHCTSABrob6PuqO4/9ERmZEVlZRzdAEt7vebKzOjMy8njf74gvIiMJ/n8ga9asIQDgOE5wF5HXjuOAEBLcFxQnUE6uVDmBKDM8PFx14n8pUushnNfS1tYWBJwE14QQOI5DpG0ghBD3mJr37R4nKnbE/y7YjnteBz4ZHPnY6enpf1Fk+BdDgHg8TmoAHvxdtQx88AtbqWa0gONG4AAOwnAiqCxNjow9c/cIVICbXYAAIfL5/HlNiPOaAJqmBa8vDGAKgKz+rc+u1uMtgyySuIZQthWEZAhl16z03I7jzMO29jmOPeLY1oiZn9u5MPL6vsnXH54DYLuLI63rkQKmaZ6XRDgvCUAkB4wagK+95T+tNtKd11LNuJZQ9n5C6OA7cW2ObY84VmWnVc7vzE+deH7k6buOwydEkBRiDaju47yR840AQeApJOA3fuz/ulhPZG8llF1DKN36rlxhQBzb2m+Viw8X58YeHn7kv+0FYIEDL9ZhVsI7/J2+3qCcLwSQr0MBfd1H/mwokun6CNUi/44QsmItH2qPNFXu2FRppaeAY1v7zeLSj6cOPHXf5L4nZlBNhjAivKskeLcJUEvj6aZPfuU6Fkn+AWXarc1W1p3R0ZPRkU1oGGqPIKZT9LQYK7qw8bkyChUbx6ZKmM2ZODZVwlzeavp4q1L8cWl+4sdHHvracwBMhFuGd50I7yYB5OhdBv56LZr6IqHs2kYVdGd0rGmPYKgjgqH2KGIGfTuvF4WyjWNTRRybLOHAeKEpQthWZVdxZvTvjvzqG4IIJs4jIrwbBAg22ygAuumTX71Oiya/1Chy787ouHQwgc09MWQT2tt9rXVlNmfiwHgBe07kcHq+UresbVZ2FWdP3X7kV3/3LHyLIMgguwfgHSTBO00AcT5P49d95M+GYq19362n8VGd4NKBBK5el3rXQa8l43Nl7DmRw56RHIqV2vjZZmXX7NGX/sPornuPAaiAE0EsskUA3gEivFMEqNL6wRv+bWuqf8uXKNP/tNZBLXGGmzZlcOlg4h25yHMhhbKNg+MFbD84X9dFVPIL35zY++g/TR/cMQXfNQSDReBtJsE7QYCgr6ebPvnV67VY+ru1ovqh9ghu3JTGmo7oWZ04EomAUop4PA6Ap44ppYhEeIugXC7DNE1vX7lchm3bKBaLZ3VeIXtO5OoSwbGtk/nJ4//x6MPffBbcGsgW4R2xBm83AZQEzuANt7Wm+i+sqfUtcYZbtrZg86r4sk8UjUYRj8cRjUYRiUQ8kB3H8foM5HW97QBQqVRQLpdRLpdRKBRQqdT38fWkERHM4tLdB+77z/8FQBmcBO+YNXi7CFCl9Rd84q8v1pOtdxFSncCJ6gRXr0vhpk2ZZZ0klUohkUgglUrBMIwqUGv9bnab/Nu2beTzeZRKJRQKhWVdp5DtB+ex68hiaIxgW+YbM4ef/6Oxl34yDE6EoFt4W0jwdhAgCD678Pe/+RmqR79BCGkJFt7UE8MtW1uaDu50XUc2m0U2m4Wu6w0BDdu3UhKI35ZloVgsIpfLeS6kWZnNmfjZKzOhCSfHsRcK0yc/d+Shr/8Kta0BcA5JwM5VRa5Ugb/lM3fezvTI3xBCFIce1Qk+eUUbbtqcaar9nkgk0NXVhf7+fiSTSVBKq8CTpR7IjY6ptV9sJ4RA0zTE43Houg4ATRMhZlBcOphATKc4OVOCafv7CCERPd7y0dYNV7OpN556Ge9AjHYuTyA38ejgjbe1pvq23B6WyRtqj+Dj72ltSuuj0Sh6e3uRSPCWwHLMedi+c7lf/m1ZFhYXF1Eul6sfDAl/zLM5Ez98YRLjITkEs5R74MC9X/gsgBJ8ayACxLB+hRXJubIAVeCnB7Y+Tin7V8GCV69N4lPvbW+o9Ywx9PX1ob+/39OyekCHbWuk/bU0vlmLIYtoXRiGAdM0PUtRC3yAW4P3rklhNm9WkYBqxuaOLR+4upKf216cGV15B0UDORcEUMG/4d+2pge3PR4M9qI6wW9f0orrNqYbVtjR0YHVq1cjkUg0DXRQVrJtuT21YeAyxhCNRkEphWVZXrl6y4W9cWTjGg6MqcElYVpfqu/CG8qL048UZ8cECc6J5nvXe5bHyz6f1QP/j6/pxIbuWP2LYQxr165FW1tbqI9v5OuDZVai/fXK1ZIwImiaplgDUa7WsiobwebeOF4/mYNp++cklHWk+rZcX156e0hwNgRQwb/xtlDwuzM6br2yvWGvXCaTwbp165T2e6N1ozKyLHdbPdNdS8Qx8joSiXjNyEaSijJs6I7VIsEN5aWpMBKIZUXx3NkSgCd4brytLT2wNRT8P76ms2Gw193djf7+fu/BNQN+LTkXFkH+vxYRmiGIKKPrOiilME2zoTtIxzRs7I7hzdMFFCs+aQhlHcmejesm9z3+KMItwIpIsFICyD15rP+aP/x2MOAT4DcK9gYGBtDe3u793yz4ZxsMBgEPAhokYyMiBNdBYYxB13VUKpWmSHDZUBKvj+QUElBNX9u26dqByf1Pbke1BQBWQIKVEEDpxt3yB3f8JdXU1G5LnOFPru+qCz5jDBs2bEAqlfK2nS34MtDBOlcqzRKh1nFyeUIIdF2HZVkNr0tnFGs7o3htRHUHVItsygxdmp8+9OxrCCcAsAwSLJcAcsTPNn/6G7/DjNi35AJRneBfv6+jrtkXwV4s5geF5wJ8WZox82Hlg4ALCQLZjDQigfi/rjvoieO1kSWFBFo0dU20rW/P/LFXRhFuCZqWlRCAAGAXfOKvL9HimfuDGb4/ub6rbsAXBL+Z5t25sgi1wJWlGU2vRY5agOcKZegaU/ZrmtaQBACQjmkYbI9i97FF5ZyRVOcHQPBo7vRb80DoCOSmWLocAsimX+u54uMPBodif/w9rQ2bemvWrFHa90DzfjxYRpZa5WQwltuka9bv1yp7fHwG37r/WXzvwZew++BJXL11CIbOvPKMMViWVQW6XCchBK1JPs7xjdGcvC8SaxvYPLnvsQehdh3L/QUNSdAsARTTv+Uzd95OqfYRucDVa5MNkzz9/f3IZDJNJ3Wa3deMRq9EgiQKA7xW8PjMnqP42v+7HZNzHLT5pSIqpoVt61cp5RljShOxljXobY1iZqmCsTk/1UyZ1tuy9go6fXDHb7DCruPlEEAM5rhBi8T/Xt7ZndFx61UddStob29HZ2en93+jhMxKwF9O8mY55ZYr//DATjzw1OtV24+cmsLmoS50ZJMAVLBt264bDwDAuu44Do3nsVj0xxVokcQVWjy9Y/Hk/klUDyJpKM0Mo5UHdTAtlv6uvDOqE9x6ZXvogUISiQRWreLMF6AFm2bB37WabssBfyXkCIsZZKlnBQgh+IcHnscze47UrP+b9+5AvlhWjmGMQdO0uuATQhA3GD59VXdVndm17/0agCiACAAdXLHFuMu60sgCqKb/D+74L5Sppv/mLS11/T6lFGvWrAGlnGvLjdZX0u6v93ul0ijyzxfL+PI9j+M3B0aQjEWxqiOLuaV8VbmKaWNsagFXXbRaAVdOfdeKBUTLIKZTHBr36yaUtacHL87NHH7udYSPJKopzRCAAGDrPvJna4xk20/knUPtEfzOJa11KxgYGEA8Hl8x8GH7lwtumNbWOm45GT7xe3J2CX/7vcfx1slJJGIRXLxhNdoyKUQNHVPzi1XHj00toCObxGBPtooEIh6o5w4G22PYf3Ip4AqS2wrTJ35WXpgsIPyVtNAbq+cClF6+WGvf3wULfPw99cFPpVJIpVKh5l3+X/wWshLw65EibN9y2/K1tt//xB58/o5f4vj4DBKxCLatXw2NMThw0N2exbq+apMNIDRGAHhQWM8ViHP/3tU96vVQmup7361fBHcDBgANTbiCehbAa/Zt+uRXr2dG7G/knTduStcdvEkpxeDgIBhjTQHSzO+VgN+sNNv8E/uOjU7jb+5+FDtfP4aKaSFi6Lh442poGgMRz5sAmWQcxXIFSwV1pHG+WMHadoa21qwHOoAqVxCMAzxXENdRKFs4MeXXy/ToBbZZ+lV+YngO/sCRus3CWhZA0X4tmvySvLMlznD12lT1UZK0tbUpY/aA2kFcvYAuaDXk/fV+r6RsLQkS4v7H9+Dzd/wCx8dnAACMUWwe6oPGuD7ZwvU6gAMHF6zuRUuyWllmFwsYGRlRzD6vr7YVkAnxwW2diOkqhO0X3vin4AGhbAWEMldJPRdAAZBNn/zK9cHXtW7aVH8cn67rXpOvmYhfSK3IP2x/cF+Y1NsfBDVYNswKTMws4kv/+Cvc/8QeZfuGgR4k4hE+64hbTZAEF64dgMbUZ9aVjaNUKuH06dOhWh60SsElHmG4fnObUqceb/lo+4U3rka1G6BuPcqNVaEoFSAAqBZNfVHe3xJnDd/U6ejoqNm0k/8X0qgZKLbL0uj/oDTa3ygmeHn/CXzu//453jg6rmzvac+iNZ30rz9AAvG/plEkYn7WfGNfi3fOubk5zM3NKeAy5mcMazULCSH40CWdaE3qyjV1XPiB/x3VsUCoFajnAsi6D//noeA7e43G7uu67mX76gEd/L9eQLgS8JfbOqgluWIZ37pvB776/ceRK6oDPuPRCNb0usktB9Uk8FYOpmYXMC81C997QZdyDaOjo94bSQJcSmld8D0SXOwn2ABAT3hWQEeIFaCUejeuEECak4cCoNHWvr+Q9zej/cG+/UZEaCYWCDuuVpla28KkUbljY9P40ncewlO736zaxyjFlrX9UKoIkkBsAzA15zcHt61pw+quVBWQIyMjyjnCCBBGiG2D6SqX3Lrhfb+L8MRQfRcgCvVf+6+zhLIPyzuuXlc/8KOUes2+WuAtNxYI+1/eHnaOlYpsER58dh/+4zd/hmNj06FlN65eBcYoN/J1SODAQbFUxpmZea/IdVtXIUwqlQoWFxeVa2mk/TwW0HDDhWo2NpLu/D1wFyBbgeYJkOq78KNEepNHvKJdT1KplJLxqwX62QAfZlHE9lpSa1+YC8gVy/jKPY/he7/cpd5bPIqOLO/s6m5rQToR94APJYHtX+OZaR/8bWva0ZJQp6uRwS2VSk0HgvK2q9arORlCWWr1TX/yAfgkUKyAYRgEkAgQj8eV4I/pUeWFjk09sYbDu7LZbE0Qa5FA3lZrv1wuTM5G62UZHp3CX3z7Qby0/7iyvb+rDZduWoNCqYx41MBAT4ff5RYgQZAIxVIZI6enAABRneH6bb1VwAI+kHJOoJHpl/9vSxnYNqj2xsY7hj4KNRAUVsATb9iO+xAJALL2li+sDjb9Gvl+TdO8EbBBaQa4lYJ7tvuFbH/5MO7+xU4l0IsaOi4Y6kUyFsUrB4ZRKJWxZe2A17QD4Skf7xTEAQGBw3cBAEbGp7z6rtzUjWzSH/UsgJSvMZ3mIBJClDKN7pEQgivXt+L1Ewvedi2Wuj7Rs6E1N/5mARzrCrjSe/0EQZUmAGi0pfuj8saWOGv4rn4ymQzV4uXGAmFlwm64GX/fLPgPPrsPd973tAJ+V2sGl25ag0rFxAv73sRSoYihVZ0wDFdnXF/vBvvu+Xy/7zhAsVzBxCwHJKozXLW5p0p75d/pdBqRSKSupgsJswqXDLUgZqjJ3a5tH7oJ1a0BAoCk02lCAW/uXW8hTFe0f3NP/VE+AGduI8BrEaRWEzBMzlWEL+TBZ/fh7l/s9P5njGLTUC/WD/TgyMnTeGP4FCzLRlsmhZZUgvt2OcJ37X6YSxCmHwCu2tyDWISTJwxcxpjXZd4o8q9HkItXq830SEv39ajRHHQcB8GRmwQApUxTov9G5l+edaNZU94MQCvx7cs55p+f2auA35pOYl1/N0zLwp5Dx5Av8ncwYhED/V1+xs2xHc92Ej71MBBwCaVKBZOS9l+5mXcKyWZf/t3e3q64ULEOixXqPeOLV2fwwpsz3jYtkrgUNSwAAEeTTkYAkE2f/KrS3x/VScO3eoJj/OQbWM62ejdXT8TDdBwHuUIZw6Nc83KFkvcbAC5axzVs35ExbH/5MCZmeJOLUYo1fV3IppOYXVjC8KkzsKRhWoM97aCUwIHjdfQ4tntO1+97cQG/ERwfm/COv2pzD2KGqmsy+JFIBN3d3cp9hPn+WqSQ5ZKhLIBj/nkoS/W979YrTu384Q5wEggLQAAoFoAAIFSPKuZ/qL3xPD1nE/w1s73R/lyhjLt+8Tz2HRnzQA2T+0K2tWVSGOjmAB8fncDE7Lyyv7ezFfGoZN0IfBKI6xHb3KTPQi6P2QV/AOcl6ztqkpsQgr6+Pu/3cqQWUS5encFrx/37iLUPXgbgeagtAQKAaGvWrCFzc3NeBpBQprzeNdTReIpVMT1Lo4ttdCMr0f7h0Sl88dv/jFyhjIiuIZ2Q3jWQfsSjBhijHkiAg5ZkArGIgXyphBPjUyiU1FRvJhlHZzajRPVBEqiaz7ePnvGTR5es60A2yZVIBkvcayKRQDKZrNoeLN9IZDJs7E0rBNATLZeCK3uVGwhaABps/q1pYo7daLTaSpxr7Q+T7S8fwl2/2IlcoYy1fV3oyGb8yJyH5O7/jgcUDzjhrUcnZ5QsnRBdY+jvapfIybcT4pMAQJX5X8wXsJj3X/O+6ZKBKiBlsAYGBkLjgrDn02yTcKBd7XpmenQ9qoNA7gKU9v9H/rzqte5G/r+R9jcCvN5N1bvpJ18+hDvvfRoAMLSqE63pFEzxypUHtg90EPy5xRwmZudRMcNn7urvcv2+AwibIYggSEAgxQBusdEJX/s3DbQim4oq9yrfUzabhWGsbC7jYBApP6cLetWEEKEs1brh/X0zbz6/BIkEhBDVArBYSiFAT6bxxYnUr7iQehe8nO1h+8VNyuAP9nQgm07w9+1c0G0JaMuysZDLI1csoVgqo1huPN1bZzaDeDTCwSeOG+D74HkkEP7EffZLuSIW8/4InUvXdyrXLROBUopVq1aFJoOWGwuESX97HCen/N7HWFt/L4AjUFsBHgF4+59qg3IlPRm1nzlMotFoKIj1AF/pDTqOgzvvfRrbf3MYANfSlmQcpmkrpt+ybCzk85hbzCNfLOG929YDADav7cOBo6ewsJTHwaOjoeeIRyPobM1I90Dgp/sIgBouAcDolN/8aklGsHlQHawh33dHRwc0TWvqmSw3IwgAAwECxDuGLoUfCFIAxMsDuAcRSrWL5ApbmpjEqVFGbjnkkAPBsBu+496n8ZQLfm9HK9KJGCqWzRMxjoOyaWFqbgGLuQJ+919dgZvftw03v29bVT0vvv4mPv35O6u2U0ow0NVWZbI9EsABHE4Cfz8nwWK+gCVJ+zcPtoUGfUL7Ozo6lP1PvnwID+7Yi2Nj0/jyv/uo12QNk3rmX2xrT6uxGzNiq1AdAxANnAncJBCipJGasQC1xvuHXTRQP8ct1xEkggx+T3sWqUQMlmXBdv37wlIek7MLSMSj+NHt/weu3Lah5rU8vnNv6PbV3R18UCZETj/YOiE1XcL03JJS16q2ZE1Cy9r/xEsHce8jv1Gar3f/cie+9YX/peb1NyODHWryjuqRbrjvd0AigeICEJjhIzjgMEyCAz+B5mKBZn3eUr6Er9zzGPYfHQPAc/TJWBSm6fv8xVwBk3MLSCVi+PE3P4vN6/pq1rewlMfjO6uHZPe0tcAwdHhunwRJAHgOXwoCAQfliomZBZUAv3rxKMZnljDUnXFTwK7lcIBFO4EHdz2PF/YOh+Ytjo1OI1csIxlr7isnQLUliEcCiSfKUqhlAYQLIEEL0OTXNpp1AbW0v1aCZKlQwpe+85A3KKOjJY1ENOJF+44DWLbtvXzx3b++rS74AHDPz5/G6JkZZVs6EUM6Gfebc4R4JOAXGAzkRBuQX8P0vAo+ABTLFnbuH8PO/WMhV7Gv7jUCnARb1/cuu2kotg12JpXtzIitQwB8wM0ESk3BZUuYRi+3bNgNDo9O4av3PIaJ2SUQQtCZTSNi6KhYltLMW8gV4DgO/sNnPlTX7APc99/5Px5WtkV0Dd1tLa57d3hu33EAykkAuETwgr6ASwAws1A7+1hLYhEDsaiBiK5hbjFflYSamF2s6SabCQgTkdD4TWkBQHYBqz/8xffLJVvizU8dsNwmXj0LQAjBS/uP41v37UDOfYmyoyUNjTEe7fPsjtfMWyoU0dvVin/zsRvqXuOLr7+J2/5Sea8Vhq6ht7PNywwSx2/XO7ab8SPEJwdUC+Y4DorlSs1cQlAMTUNHNo2WVByG7sdX3W1ZHDo+qpBgYmYRtm1jZmYG8/Pz3oyp8jNrJoEUECotJJAHUMHKxpubvLmZVkAtwIPb9x8dx/2Pv4L97tBrjTG0JOOglLhm38/sOQ5QrlTgOA4++5lbuAkPkVOnp/HA4y9WaX7U0NHdlvX9uxflw0vpen5fuAQ4nisX178Q8gJoUCil6O1oRVsmPOVbKJVhWYFp5CoFvPHGG165XC6HlpYWb8rcMJGDVkL4ewP5kk/Ozm0fWje595HdkKy9HwQ6K3MBwZtptF8G/czMIt44Oob9R8ex/+g4Jmd9X2roGtLxGEAID/ikdr5YF8sV9Ha14hO/dWXVOReW8vhP3/gBntilRvyUEGTTCbQkE+LiRKNOavI7KgmcamvAjwVSiRgKpbKS/hWiawyt6STaW9JgjMJ2HNiWjUK5gqV8EcVSGYVSGeXARNPvv6gXW4daq57X7Oys0m/QSAY7kjh4yk9za7FUCpL5F3kAwf0ViWmaSjqzVkAn5MzMAr59/7N4Y/h0aH2GxhCLRsAohWXbal5fSu8CDkzLxmc/c0tVHadOT+O2v/qnqmRPxNDR0ZKGrjHVMskkECsv0+MTwXGTQHJsEDE0DHTzEbnFcsV7zSsaMcDcJrKwMhMzc6H9DlFDw2Ubu7FlqB2r2pKISl3H8vMUU8zVkybcgdhZ3wU0K/JUqPUuCuBz5vzlf38Y+WL1jNpCYm7XqzD5EKDLuXw4sG0HqzqzVdp/4MgpfOrzd2Axp2pkJhnn7+cR4t9pGAkIeLInxCV4I4B43lQNEsHdihAZBNO0cGzsTFUaOpuK4ubLhnD5Bf6bvvWeZS6Xqxn1B4EPr8fxwBdbzuknuOoFfU/vfgv/z0MvIV8sI5tO4H963zYUShWMTcxg31sjKJQq0DUGy7I9sEWdXOtVC2DbdlWWb2Epj9v+6p8U8Akh6MikEI0Y4iJdoDkRaJAEXjxA/McUYg0QRgQRI/B/AAC5YgkjpydhS9O8RQ0N127tx82XD4U+q3qyrDR6E0XPmgDlcjk0gwf4F/v07jfxnZ8+DwC45tILcOMVW0AJAaUEl29eg99638XYc2AYj7+w1w/2AubecXgnj/gNAJ+42df+haU8PvX5O5Q2vq4x7n+9V64J79d3gSaUwAZAXBJ4z8tzCYCaBpY3+URw3PhA9qUOHMwt5TA2Oas8ry1D7fjUjZsRi/jWop7Wy4BHo9Fl9QkcPKm6m/zk8TPBsh4BKotTJ42UP9FTs9/QtW27bjNwx54j+IefPo+2lhRuvnIrutoyWFgqgFI+iHF6bhFvHD2Jw8fHYdsOHEd07MgEqJberlYv6SPAl31+LGIgm07KQTsgkwAOHBueFgtW1bQG3qqaCP64A14VCMHY5IzyLmDU0PDpmzZjy1CHeh4Ecwvq8wN4l3smk0F3d/dZ9RTOHX35DCEyTTkBHAAYe/bukfWf+uayK60XAzyz5wj+4YGduGzzWmxZ1w9KCRZzBZiWjROnp7D/rRHlnbnlyOa1fsYvCH4mGefDuBwHDiEg7hoAJFRBeLrPy/55+0OsgUsdvi2ECHD3m5aNkdNTKElfGdsy1IFP33ShMiq4kWQyGW8JTrJRry+lQd3iVtzi/qhgeceypVKpeF/1EPLT7a/h8RffxI2Xb0FrOolcvohCqYIT45M4dHy06eRJLdm8rs9r6gnwCQFakglEdL0K/CAJuNITlwRQ4gISQgIADYlQqlQwPjWngP8779+A6y4eVK49DCRhBdra2tDd3d30MLta6fWJudAvmznymhDiaGpGyR4hhA6I0sOTxaY+3miapte79cyeI3hg++tIJhK4cusGEEIwNb+IIydP49SZ8BctVyIPPPYiHnjsRc/nU0qQSSR4E8/ttiUIIQG/c/cRVMcFQZfQiAjC7JfKFZw6M+3GKUDM0PBHt1yMdX3151ESkslk0NfXt+IRQv4lcjwnF9QpaczC4l73spW5BDXJ/ziw7REwnwDNSrlcxotvnMLPnnoduaKJDQM9SCaiWMoVMTY1g1NnpmEGM10BEUGU8KWNRA72GKVoSSVARROPqzH8vnuJDOIcXtBW2yV41oDvDCUCACwVSpiYnvPA721P4fc+cCF6O6pnTg1qaiwWQ19fnzKZ1nKklhWYnK/6+mkQfAdw3wsQ9+I41kkiNQyOTZXqWoB8qYIdrx7HjlePo1Ay0d3Wgk2ruwACjE7MYmR80htfLwAmhGscX7sTIbjBFKGEv4yxjOegawypeMwL9jxT75JA5PcVi8Bvtr5LkKxBPSIs5AveCyAAB/9PP3aZF+UHARf/M8bQ2dmJnp4eZd/ZmH15X9AClJem9kKdP9CLARwRGTq2pcxQMJsL/xbe9EIeO149jpcOjKJQMqExhoHudiRjUeSKJZw8M4VcgbcidI1B8yY9koAHT8vKRCiWyliOEhi65k274sBxlZ6EkyBgCQAocQFv1getQX0iiHEIQjj4lyMeDU8Iif+TySRWr1591ua+nrxxQm1+2mZ5CSHzB4ruYAeAU8nN7WSG36kS/JTZ9EIej7x4BC8d8CPudDyGbDoJxigKpTLGJmdQqnDiJKIRGLrmarms8dJvyh9KxbQws+0Hp4cAABxSSURBVFA7QxgUQ9OQkCJ9H+wQEkAe2cNtBU/4BeIC/jDcM/jNxTAiLOXySgumNRXFv//45VWaHyRAT0+P9w7guZKwnsGJeTUILEyfOgIOvPLdQXlMoFNenByJZv2LO+0SIF+q4OfPHFSAF343auiwbAuWbWN2YckDP5tKIB6NQDHzhLprbu4FERzHwcTMZNM+UNcYYlHD11c3ahcghUb+cIT+u25BtQDLIUK+VFLAjxka/vjDlyIW0WsCzxjDunXrlC+kvF2yVKxUxQBzw785guppZB0N3AA4AJxTz3zvxKZb75yXRwYNTxZhlXIK+BFdRyoeBaFccwkAy3GQc1+mTMSiaG9J+8BT6oFNA+Dbto3DJ8Y84iRjUaQTMYxNqSZMiKYxxMSLqAAEQDwal5tn6k/R2emHhZAMvrTN8XMCvlvwz2NaZlXu4oNXrkNfp/9evyyEEMTjcaxdu9Z7gbaeNBMHCKk1JqDa/JfOFKZHFqASwAag5AFsALZjVXYSzfiQOPjYVAk3bWrDur5WHDnFI+9Y1IBp2yC2f8NyRwejBMl4tArs4P+lSgVvHOUDIQxdQzaZgKFrHhmComkaYhFd8uchD4U/Rv/BAMpv/zhpvzjWCxDhd5tAJcLU3JICUGsqhusvWV0z2EskEtiwYYPXTF6O1MsQhgEvfu8/oQ55q+Tm9sH/CLUgASC1Ary6rUpxJ5UJMFkCNgG33nwRvv6jnSiUTFRME5SIrk4gCMZCroBXDx9DOhFDLGIgGjH8ANA9aDFXwOzCEizbRjIW5f6cAPlSWR1g6d6cxpjb26YCKHVuovpKglbB3+e7j2rgZSxlazG/lFeSPACqwJddQDwex8aNG5VpX85Gmhn54zgO9h9X8y3F2XExi7j8KXqbEOIEM4F2ef7MTj3mt1+PTZVQKNtoS8dx681bcddDe1AolhEVwY7oLCE8/14xTa/Nv5ArYCEXmpECwEFNxePQKEHFsmBaFhbzRcUME3AXEjF0H5ngMyASKQjxwQ66BresByrxCSMSOuJ38DRl0wy9l/de6A/TEvEOwN+Y3rhxo6f59bJ/K5FaVmBiroBjZ1QXNXf8ldfALYBsBRzHcUClC3MAOMOP3rHXcRylG+mYOyHx1rVd+P2bL4LtOCiVTdi2A8u2YbsLAOiahnjUQMTQ3CYgBaW854+KNjClfFBkhKc7TdtGrljiAzz5kxGcAgjhqV3vqfE/hAhVFaSQwCcCfEmdJXC8MsKwy/v8kyh507nFvH8OV3o7Uoi7gV9wWbduXd2PQPitoMZzATZTVsi+gPbbldKZ+WOvjEngK8mgKgsAwLbN0iNMj35KVHJgrODNDH7l5j6MTi5gx6snYFccaIxKuXHJyxIOesBCw4+qAcu2YNv8jR5bzr9LNyRu2gfbtzgeiESql1DvhJ4xgPcDnkFX/kdIVOFvX8oXUHE/7iQnkLau9XvnZDDa2tq8sXu1WgUrcQm1Bn3I2148pPb4lhYnXwSfHEr+/LxHAjo8PCwT3QFgm/n5R+RKDo4XUCj7qdyPX7cZl23kM1pUTAuWY/PxbrZYbNgWtwqW7fDFchfbhmnxpVQxUayYsB3HyxJ6QLuMN3RN8vPwgSfUIxohMkmkesRCJYtBAEL4wFjvOH6QC6yok5c1LQuLhaJyXSKW2dDvj9uTNbG3txe1NHUlViB4jlr7c0UTLx5Sh9oVpkZec8GXXUDoLGEeAQ7//L/+WnYDxYqDg+Oq/7v15q3Y3M9bi5Zlc1fg8MVyHJ8QgW2WZcM0LZQrJizbUUy9AEKAr+uaCqS8gADCOkhEqHYFEjkIAaEUoJwUHrPE2D3A3e63GBYKRRCq1iHOt76vrQqIeDxeNdPXSpcw4GuRAQCefO2kgpFjW0undv5wp0SAKhcgphAXx4j2oWWbpUflyvacyMn/gjGGP/zgxbigl49SdRzHnR2T/7bdxXEtguUGeZZt8zaIbO5lgFzXoTEmaRt/6ET+XwBIKAjlZAClHCzqWwVCfHIENQ2UgFA3Te0eL5MwXyqjYtpeHYz5ROjrSFcBAPC5kpvR2rMhg5BgmSf3qHMNF2fHtwMoQ7UAyveEKABMT0/LPUQ2ALs0f+bHcmXHpkpVfQPxeBz/83UbfRIIIkiLeFdfumpV6yXgiQsgY4yD6ALsmXBX8xxBAhdE4Q68Ogivhx/rk8KzCNRfIOIGYT14bhoOeAbUf8AU8VjUtSIEfZ2ZUEDS6XRNEOuZ/OUEg8HzAsDeY1MYPr2gbJs9+tLjAQIoFoAQEjpXsAPAOvLQ159zbEuxKdsPVg9p7uzsxC2X93skqCthWi9F9NR9EGI7ZICEhroAiLX3QBj1gXRJQD3gqQK8sAiEUIAytR6XRLli2TUwvJyha27GmQPVlokFbo1/DlYO/sIswXKBDtYVrE8sTwS03yzlh6fe2H5YIoAIApXxAEECyFbAMguLyrtUr47klWBQyMDAAG6+uBsf2Frj45FCy8VvOZgSGixZAp8c8DXT2+eDKQMOyYIQSkEYlawB8cqL38SNA6ggiFTGsh2UTMsDm1CKZCLutQQI8f2/DIg8zevbZf6Dmk8IwZm5fBUBlsYO/XMN8D3zv7Cw4HgEKBQKigsAYE3uf/LHjmMrar/raPUYPkopBgYGcOFACz723lVIxaQEo7gBiQgcf4kEskbC/19jTOk5lEEGVU05ocwL8ISWw9vOJAvinodQns0UpCC+dcmXykrdmsZg6Dpvrbikikeq506Ix+N1gTuXJJC3/+DJg8p1OLaZG9lx92MASu4iuwBP+4Hw6eI9CzB14KkZs7h0l0KAI4uhViAajaKrqwu9bTH8rzeu5jNUhIEvmfyqmyHCFVCkIhHENB26SwLZBVAqzLvkGtz/KWUuqMwDkAbWqEkiioplw7Qd5dhELIaSaUIOLPs6UlWgCAvgc//ckiFMzszm8fgrJ5Rt+ckTD7rA1/T/jQggSGAuntyvBIPFioOnArGAuLhMJuONcImIr2RL4Ksm39dE+WFHDR2dmRTikQh0jWuuTXwTzxiDwfggE0r5QgJkIExsYzw28MBn0iIBT/x1oWyCMKaQJZWIoVQxvfJtmfAXUZtp/jVLhDAShS3/48kDKni2mRt98f6fw9f+MlTttwGgXC5XxwCmacpJIRuAdWrnD49V8vPKePFdR5dqjhbKZDKIpVoxOlOoAj9M6+UlFjGwuqsdyXgUFgEWKiYqjq+NIBRxTYPOGJ/00fXl1AWVEyIQ5SvAk2qySC2Fss2zfLLFSMajIJS6VoFfZ2s6FgqO6O6tB6QIAoUVayYJVEuOjM3hsd3HlW35yRMPFmdOTQMoQrUAXhewLLXmgPEIAMCaeP2R7wZjgZ+9MhN6IAA8s2+8JvhKe16yCl2tGVw01AdN03BmIYfpQoFn5jwLwZAydBgaB9+EAFG2AJLfZ+7ixQYUlIUQhPmEKJsWL+MuhFFkkgmUTNMFyrUA6erZ08VAj7AgbSVmvhkyfOfBV1XQrLra75l/W3pPrYoAYnAIJDcwfejZabOweLdc7thUCQfGqt+N33v0DF46cKox+JI2DvV04IKBbkzML+HQ2AQKFdMz7dQ15wlDRyoSgc4YyiBwlIhfgKZVm3epVQAXcA9gqaxpO3C88/Ht0UgEmq7xFoFUV2sIAeTxffUAbZYUYSLvf2z3cbx+dFLZvzR++L7izKkpAIU6BFCk3ixQshUwD97/57cH8wI/e2UGhQq3Kvl8HnsOnsAPHturBHxV4AvgXb/+3s1r0NWawe4jJ3FyZo5rGvOBJW5c0JaIQdMYcg5QISrwkI6hAc33NFry/5BIIayL6UAiHT8uk4y7gaHjlaeUem/4yCKb/zDQwkBcqelfKpTx7V+qH680S7ljx574zs/ATX+Y+XfzdGr/c71hKooVAFDJTQx/Ltm9/qeiQLHi4OHX59AXL+DA8TN49a0JH3iIRkDQ7HOfFzF0XHXROhweOYOJuUX+4OUsHfGDvlWZJDRKMZEvoei4vYye76QgNOTBuj2AYg3AG9FLCNwOQT7Oz3Yc2CCgjMFxKBzHhkaAWCSCfKnktjwYHIfAgY3eNjXpJfx/I+CCIpcPjgsIq0uU+ep9L2GpqA5MmTn03F3gmt+09gP1YwCxFlagMvzIf3vWqhQfkwvuGcnh+cMz2POWPz9+eDufQMm4UYpnX38LE/NLipmWzTqhDH3ZFJKxCKZLJvKWo5pu1097QZ6s/cy3BqK1QDUNVGOAZwV4OQvwy7rlM8kECBPazxRrIYMkgGo0xHul2h6UR14exvP7Tynb8tMjD53e8+BucPCL8Nv+VZ0/wfoauQCxWHCtwNhLD3zWcWwl6TxViTcZ8YsEDUFZ+FXixwIeUG4035NNoiuTwGzJxJJp++bdBYlJAR+VgZaIQJlLLOa7AMoYqMbLgDI4rvaL45jOB7VQSlGybO4SxHGMYlUrbwbKWtvMgM/Qh7yMEUFHRmfx9798RdlmVUoTp57/wQ8A5KFqf9D8h0rjmSADJJh9a9d0Yfrk55RKNAN6oqU6zStiAWnxzXYQfMkKMIpUPIp1Xa2YL5mYyJcln881O2ZoMHQNmsYUYhDNJ4T8mx8XCAC9GIKBaQzMLZeOR8E0zW03kYAFoMrXP0SnVyMLEOwkE5NcNEuAxXwZX773BSwVVNM/deDpO4szo5NQzX9T2g80JkAwPWwCKB956Ou/rhQW7pELGukO/qAkv18V9Ye4AQV8dzF0HZetWYWZYgXH5/K8veyCxRhDTNcQ1zVENA1M85tt3qLxFgFjmmv2+eKRhKlNQvlYxhgSsair/Y4SRIogMSjypM/NABpGhkbLl3+0C0dG1eHe+amRh87sefA3qNZ+2ffXfSmzGQsABFoEAMqnX3nwdtuqeGkoqhkwkq2ulof5PKpqfxX4zE2MMFy+vhezxTLemphXAGKMgTENLVGdv3GkMTieSXeBZho0TQPT+H4qk0D3ywhrAUpdwnDiJGNRGIYGwrj5V2MSilWt1dO0xWJqs7ARmLXK1JI7f74bz+1TB3uYpdyxIw997R8B5KASIJj3B+q4gGYGq8sjo72AcPatXZPRlu4/br/wxkcJoWkAMFLtsEo5OFY5xOz7fe3CElCFCNzUXjjYhYoNHBib9XIAcmauLaohrmkoOkDFcsA0XhdcglFCENN4YGeG3DYRt+R+2tWBDeYANqVwbBvpZAyU8AGlps2DQ4cQOO5AllhIJ1Az0sxLn2ItL79+8Qh+siPQ2WOZueFH7vhzVIMvtL8q519LlmMBglagMv6bnw8vjR2+TS4Yya7yXEEwDvBSoSKrplgDhoGuLHrbMnjtxITUHvctQNzQ0BGLQNc1LDiE+3BNA9V0ME0D03U+2tgwENF1UM1ddB1M52W8YNBzDQxU564kFo0gEjHANA1ly3atDr8Gn4ikCiwxmUOzWi98f6Pyv37pCL78I/Ubxo5l5sZ+8/O/KM6OTkgEEJF/mOmvS4JmCSATwbMCAErHHv/7Zwszo1/wKmQ6jExP7SaP5PtlN5BORLFtTQ+eO3zK9dFq5M0YxWBLHJqhYdJ0AI1H6wJYsW6LRxCLGICme2afSXEA0zkh/MBRA3PLphNRj3AF03ZbEHLLgiKbqA726gWAK/H3APDrF4/gyz/cVVXf/InX7p4+uGM/gCXUNv1NgQ/w6cOXI8FGKwGAmcPPHWpZc1leiyavBTgJCNVgm/6ASpFFE77e73HjD/f6bWuxY/8JmLbjgS+OoYxhVUscXckoxooWCg7hYDJN8v8MCUNHa8yASSiWHLj1qFYmSDwRqGqMIZvgQ74sx8FiwX1TWaRv3b8bOmNY3Rbz2u+EEKRSqZovfQazgLVEthK/fikc/Lnh3d8aeeaeh8HBr6X9daP+oCyXALXEmT74zOttm64bpJqxGQCoFuFZOLvkg+4Brq4Hu1tx8NQ0KlXgu6Y/auCinixO501MlnlkzjTNCwyFi+hNRBHXdUyacPP63LSLc1WNC3BzEiAELfEIDI0PEC2UTZQq0hxGEgkGshEMZNW0b3d3N2KxWM3ETqNkjxwf/PrFarMPAEun3/rx8Sf/8ScAFuFrf1jSp/5ULAFZCQFq3s3k/ieeckmwCQCoHgUcG8SxPJ8uEj7EA5phsViBDUjtdaY0/a5Y3Ykl08bwQtltr7vmXOORO9MYYoaONek4Fmxg3g3ePHJI1kRJNXtDvghaXe0nBFgqmTBtO3CnPKW8pTuGrpShgN3R0aEkgoKANxsAfvlHu3DPI9VfMynOnX7qyENf/w58zc+h2vTLCZ+ms0srtQDyHSon4yS4doBqEZcEMf6gnYrS2UI8v6qCrZCAMQy0p9GbTeG1M4tul64PPnObdEzTMJSJIxU1cLRg+ckfOUcQ1kPoth4iuoaE4b7GBWCxaIJ3mJIqur+nN45MVE0Hi+/+Kg9oGSnexXwZf/X957B9z/GqfQsn999z9OHbvwsOviCA6PAJ9vU3bfqFnI0LEE1DWRwAzuT+J5/KDF2a16KpawCAMIP7X5h+044x3yLUAD8WjeADWwaw/a0zsEFc0JkHvgjuIrqObZ1pnCpaWJS0nzH5PEzVftESoQQao4gb/kucC8UakzI7DjZ3RpCOqrFzf3+/N7Aj9EG522VLIAK+t07N4N9/+wkcODFVddzc8O5vnXj6u7+ACr7I99cc6bscOdsYQNyxfGIHgDN96Nm9qf4tp/V4ywcAAFQDqA5KLGlMXxB43vsnMnnv39SHPSPTyJuOm/GTM3u6ZwkGWuJojUdwYL4MTaPQGIXOKDRKoTECjfJWBJVzD15WkscCyYjmAZUvm+6cAP4tCvCu7IsiqlHILRv5Qw7NBn0A8NNnDuOL9zxbld51LDM3f+LVf3QDvkWoZl/u6q3b09eMnKsgUIjynuHMmzsPafHMM7HWvg8RQiIgFA7RwajjddJQFxyiBHQaBrtaQCjDqbm85O99k89EM1BjuH5NO/bP5FGxHRiMwmAEulhTAp0RMEqgUQJG4c1TDNcCOABSXh8/dwMl065+qo6DawfU+XpjsRg6OzuVYo2APz2Tw1/c8ywefOFI1T6rUpoY3/3L/3p69y+eR7jZrwX+ikhwLmYLFycW0ac8WNAZ3XXvnsWT+28cuP7f/IAHhxQVOwLYNnTNN8U0MDiUUoaD43NetO+lgz0i8N+9mThKjoPFsoWoTsEowIiYhcT3U47o93ccmDZg2g4YcVCxCSwCmIRC1wgAE6l4FPmyiSJ/z423KCiFQ/1P5BHCE0JiGlfxfyN54NnD+P5j+6v68wGgkp/ff+zxb/+tm+QRkX6wrX/OwAfOvQUAAlYAAEoLZ4oTex99ILv+qhZmxLYBBLZNYduAYVAvMKTuABDKGJYqtuvjfZ/PM37MtQgaNMbw3v4s3phYBCGAwSgijEKXLIBGuRVgjIARAkb5fEUqQbgViGrM82mGxkcIC0z5zTi4vEtTWgBiPl+gvua/fnQSX/r+83hs93GUzeqW2tLpIz9+65d/e7tZXJxBeDv/nIMPvD0EAKoHlDgA7KkDTz0fyfa8aqQ6LieUph2HoFx2oGkUuqFquUjyMOYHex4RdD4yuDWuIxvXcWapBIMRGBrlJNAIDIkImksEjRLVOkh+vGw5iOkMlAJwHK9coeJOhu04MAhwcYcfABLC3wWoN/PXmdk8vvGTl3HXI/swu1g1eyesSmliav+TXzn53Pd/Db+NHwZ+2OieswIfeGcIIPcjOPPH95wqzJz8VaJzTYwZ8a0AUCnbMCs2IlEDTPeze0xqyomon+lc8yMaxaauJI7P5sEoQUTzgRfgi7UIBhmRtB/C2/tScbgVALiZ1xmFbdsoV/g3i2LMwUVt6jG1PuR0dHwe33t0P/7up7txcjJ8RvT89MhDJ7b/96/NDe8+jPBIP9jOP6fgA3WSOueoXvkzZRoA3V0iAKID1//R+9N9W/5Pqkc2igNT2TjSbWnoER1M091AT+c5fV2HpmkwNIqo5kbugKTxFDqFG+z5U9IA3P9bNvf/FdtBxbJRtmyUTQcly0bJtFEyHaQMBgYbVsXkn6Y1TYzPLqFYLMOqVHDLALAq4aeBN23apLwS9sLBcfxi51HsPVbdrBNSyc/vn9j72F3TB3cchO/j5QEdYVp/zsEH3j4CyHUTqCQQRDDgEmHthz73iVj74P9Gmb4KAAglyLSn0drdCj0a8Ymg69A1hqhGEXFJEHF/+9E/gU4pJwCV+rFtPpdhxbJRsRyULQdlAbzFwS9W+GthmQiDY5qwLRNWxUSuWMbE7BIs08RAzMLNA9wNdHZ2or+/HxNzBfzzC8PYdXC81jTtALi5Xzy1/76RHd97BFzDBfhyhC9H+U2N6jkbeTsJINcvhghRcLcjiGC4SzTZu7l91RWf+MNIuuP33e/cgjKK1p42tPd1wohFoekaIoIAOieAIEOEUS8G0Jnv7wlxx7PZDkzbQcXiJODA87eAi6aDkmmjaNooVmwwAhDbhlmpwKpUkC+WkC+UYFVMbMk6+ODGLAokgVeHZ/HCodM4FngvPyh2pTSxwIF/DD7gtYBXZvLCMnr2ViJvNwGC5xGfLmXwiSCsgQEgklx1QXv3e377d6PZVb9Pme5NpZ3taUNrdzt6etsQ1ShfdIqoxhCRiGC4RNCZRABHaL8AnwPPQXc48KaFYsX9v2LxuY9cAuiOhZhVhl4uwQDw0qEzyJXCX42TJQB8MbDIb++EzeDxtpj8oLxTBJDPJSyBTAQdqkUwAETWfPCzH4tm+z6iReLvEZVoGkPnqnZ0dbdg9WAn0vGIawkYojr1XIKwAoIAQvu5r+eaLrS/4IFvo+CuZyZmsTA1h6XZReQX1OlxGkl5afqlxdGDT4zuuvd5cJBlwGUfH5y96x3RelneSQIEzylIINyCbBFkq2C0XXDtYOsF1/x2JN35YdkqAEAyGUVHWxo9HSmsGehAnNlYt6bHswKUENiu9pcl8DngFk6dPI2CRXB6bApzSyUsLJUxN13fpIeJWcoPF6aOb595c9fO+eN7ToFrdimwDjP1tTpz3nbwgXeHAPJ55dhAJoKwCjIZdABG93t+e3Oq78IbjFT7dUyPrg+v3IYG3p+/fnUXKGxvrqJCoYRRt1nmgMA8i2RopbCwrzhz6oWZN3fumj/+6ig4sGVUgx0082HRvZwdekfAB949AgTPH0YEudUgWwZvSXSty7Ztvv6yaHbVe7RIcr0WTV7ydl5spbCwr7w4tbc0d/ro1MFnXivOnJyHasrDliDoVVO24x3WelnebQIA6jUEiRC0ChrUmCFIEJZdf1VfrG2gN9G55mLCtLQWTa0DAKoZ3VQzuutdiG2Wz9iV0hkATqWwMOxY5aXcmaN781MnTs8fe2UcqtkOW4ITMoaBfl4AL+R8IICQWkSQ44QgIWRSaCH7mHQcDdQpFiFOYBFACfDktQxsGNjBY+T6zgvghZxPBAAAELVHhQQWGrKwBmt5kesR9csSRgA7sMjgBoEWv4PHK4AHX9F+N+W8I4AQSmmQCGIdtAzBdRjoQa0Par+QYB9GEMQgGYLbglZEyd7JM3OcL3LeEkAWwzDqkSHMSgT/B1StJ4G6hATNcy23ENwWVt4TMSHT+Sj/IgggSzqdJoAyvk4BlBBC3AEaxHEc5X+pPNx9St0O3+j9hgskr8Lxfvu7q/25OH5hYeG8BV2W/w+pGFEhByf4nwAAAABJRU5ErkJggg=='
        description: ''
      tags:
        - Files API
  /files/pdfs:
    get:
      summary: get-pdfs
      tags:
        - Files API
      responses:
        '200':
          description: OK
      operationId: get-pdfs
      description: GET PDFs
    post:
      summary: Post PDF
      operationId: post-pdf
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
              examples:
                example-1:
                  value:
                    status: success
      description: POST PDF
      parameters:
        - schema:
            type: string
            pattern: application/json; version=1
          in: header
          name: Accept
          required: true
        - schema:
            type: string
            pattern: ^(en|zh-hant|zh-hans|ja|ko)$
          in: header
          name: Accept-Language
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: uri
              required:
                - file
        description: ''
      tags:
        - Files API
security:
  - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT
