openapi: 3.0.0
info:
  title: sessions
  version: '1.0'
  description: API for User Signup/Signin
  contact:
    name: Magnetic Asia
    url: 'https://www.magneticasia.com/'
    email: info@magneticasia.com
  termsOfService: 'https://www.magneticasia.com/terms-conditions.html'
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
servers:
  - url: 'https://magneticasia.stoplight.io/mocks/magneticasia/openapi-sessions/1646925'
    description: Stoplight Mock Server
tags:
  - name: Sessions API
    description: Sessions CRUD and related stuff.
paths:
  /session-event-types:
    get:
      summary: get-session-event-types
      tags:
        - Sessions API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Type - Alpha
                    id:
                      type: number
                      minimum: 1
              examples:
                example-1:
                  value:
                    - id: 1
                      name: Type - Alpha
                    - id: 2
                      name: Type - Bravo
                example-2:
                  value:
                    - name: Type - Alpha
                      id: 1
      operationId: get-session-event-types
      description: Get the list of session-event types.
      parameters:
        - schema:
            type: string
            pattern: application/json; version=1
          in: header
          name: Accept
          required: true
        - schema:
            type: string
            pattern: ^(en|zh-hant|zh-hans|ja|ko)$
          in: header
          name: Accept-Language
  /session-event-categories:
    get:
      summary: get-session-event-categories
      tags:
        - Sessions API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Type - Alpha
                    sub_categories:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          id:
                            type: number
                            minimum: 1
                    id:
                      type: number
                      minimum: 1
              examples:
                example-1:
                  value:
                    - id: 1
                      name: Category - Alpha
                      sub_categories:
                        - id: 4
                          name: Sub-Category - Alpha 1.1
                    - id: 2
                      name: Category - Bravo
                      sub_categories:
                        - id: 5
                          name: Sub-Category - Bravo 1.1
                        - id: 6
                          name: Sub-Category - Bravo 1.2
                    - id: 3
                      name: Category - Charlie
                      sub_categories:
                        - id: 7
                          name: Sub-Category - Charlie 1.1
      operationId: get-session-event-categories
      description: Get the list of session-event categories.
      parameters:
        - schema:
            type: string
            pattern: application/json; version=1
          in: header
          name: Accept
          required: true
        - schema:
            type: string
            pattern: ^(en|zh-hant|zh-hans|ja|ko)$
          in: header
          name: Accept-Language
  /organisation-name:
    get:
      summary: get-organisation-name
      tags:
        - Sessions API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisation_name:
                    type: string
              examples:
                example-1:
                  value:
                    organisation_name: Organisation - Alpha
      operationId: get-organisation-name
      description: Get the organisation name of the user.
      parameters:
        - schema:
            type: string
            pattern: application/json; version=1
          in: header
          name: Accept
          required: true
        - schema:
            type: string
            pattern: ^(en|zh-hant|zh-hans|ja|ko)$
          in: header
          name: Accept-Language
  /sessions:
    get:
      summary: get-sessions
      tags:
        - Sessions API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      minimum: 1
                    name:
                      type: string
              examples:
                example-1:
                  value:
                    - id: 1
                      name: Session - Alpha
                    - id: 2
                      name: Session - Bravo
      operationId: get-sessions
      description: Session list.
      parameters:
        - schema:
            type: string
            pattern: application/json; version=1
          in: header
          name: Accept
          description: ''
          required: true
        - schema:
            type: string
            pattern: ^(en|zh-hant|zh-hans|ja|ko)$
          in: header
          name: Accept-Language
    post:
      summary: post-session
      tags:
        - Sessions API
      operationId: post-session
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
              examples:
                example-1:
                  value:
                    status: success
      description: Session create data.
      parameters:
        - schema:
            type: string
            pattern: application/json; version=1
          in: header
          name: Accept
          required: true
        - schema:
            type: string
            pattern: ^(en|zh-hant|zh-hans|ja|ko)$
          in: header
          name: Accept-Language
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                basic_information:
                  type: object
                  required:
                    - basic_information
                    - session_timing
                    - location
                  properties:
                    basic_information:
                      type: object
                      required:
                        - session_name
                        - session_event_type
                        - session_event_categories
                        - organisation_name
                      properties:
                        session_name:
                          type: string
                        session_event_type:
                          type: number
                          minimum: 1
                        session_event_categories:
                          type: array
                          items:
                            type: number
                            minimum: 1
                        session_tags:
                          type: array
                          items:
                            type: string
                        organisation_name:
                          type: string
                          example: Organisation - Alpha
                    session_timing:
                      type: object
                      required:
                        - session_timing
                        - start_date
                        - end_date
                        - start_time
                        - end_time
                        - start_end_datetimes
                      properties:
                        session_timing:
                          type: string
                          enum:
                            - once
                            - series
                          example: once
                        days_of_the_week:
                          type: array
                          minItems: 7
                          maxItems: 7
                          items: {}
                        start_date:
                          type: string
                          example: '2099-12-25'
                        end_date:
                          type: string
                          example: '2099-12-25'
                        start_time:
                          type: string
                          example: '13:00:00'
                        end_time:
                          type: string
                          example: '17:00:00'
                        duration:
                          type: number
                          example: 4
                          format: float
                          enum:
                            - 0.5
                            - 1
                            - 1.5
                            - 2
                            - 2.5
                            - 3
                            - 3.5
                            - 4
                            - 4.5
                            - 5
                            - 5.5
                            - 6
                            - 7
                            - 7.5
                            - 8
                          minimum: 0
                          maximum: 8
                        number_of_weeks:
                          type: integer
                          minimum: 0
                          maximum: 52
                        number_of_sessions:
                          type: integer
                          minimum: 0
                          maximum: 365
                        start_end_datetimes:
                          type: array
                          items:
                            type: object
                            properties:
                              start_datetime:
                                type: string
                                example: '2099-12-25 13:00:00'
                              end_datetime:
                                type: string
                                example: '2099-12-25 17:00:00'
                            required:
                              - start_datetime
                              - end_datetime
                    location:
                      type: object
                      required:
                        - location
                      properties:
                        location:
                          type: string
                          enum:
                            - physical_location
                            - online_location
                        video_streamer:
                          type: integer
                          minimum: 1
                        venue_name:
                          type: string
                        address_1:
                          type: string
                        address_2:
                          type: string
                        address_3:
                          type: string
                        country_code:
                          type: string
                          pattern: '^[A-Z][A-Z]$'
                attendees_and_pricing:
                  type: object
                  required:
                    - quantity_per_session
                    - currency
                    - price_per_session
                  properties:
                    quantity_per_session:
                      type: integer
                      minimum: 1
                    currency:
                      type: integer
                      minimum: 1
                    price_per_session:
                      type: number
                session_details:
                  type: object
                  required:
                    - session_details
                  properties:
                    session_details:
                      type: object
                      required:
                        - session_image_url
                        - summary
                      properties:
                        session_image_url:
                          type: string
                          example: media/images/alpha.png
                        summary:
                          type: string
                        description:
                          type: string
                    organisation_profile:
                      type: object
                      properties:
                        organisation_name:
                          type: string
                        website_url:
                          type: string
                        organisation_address:
                          type: object
                          required:
                            - venue_name
                            - address_1
                            - country_code
                          properties:
                            venue_name:
                              type: string
                            address_1:
                              type: string
                            address_2:
                              type: string
                            address_3:
                              type: string
                            country_code:
                              type: string
                              pattern: '^[A-Z][A-Z]$'
                        organisation_image_url:
                          type: string
                        summary:
                          type: string
                        description:
                          type: string
                      required:
                        - organisation_name
                        - organisation_address
                        - organisation_image_url
                        - summary
              required:
                - basic_information
                - attendees_and_pricing
                - session_details
            examples:
              example-1:
                value:
                  basic_information:
                    basic_information:
                      session_name: Session - Alpha
                      session_event_type: 1
                      session_event_categories:
                        - 4
                        - 5
                      session_tags:
                        - tag - alpha
                        - tag - bravo
                      organisation_name: Organisation - Alpha
                    session_timing:
                      session_timing: once
                      start_date: '2099-12-25'
                      end_date: '2099-12-25'
                      start_time: '13:00:00'
                      end_time: '17:00:00'
                      start_end_datetimes:
                        - start_datetime: '2099-12-25 13:00:00'
                          end_datetime: '2099-12-25 17:00:00'
                    location:
                      location: online_location
                      video_streamer: 2
                  attendees_and_pricing:
                    currency: 2
                    price_per_session: 10
                    quantity_per_session: 25
                  session_details:
                    session_details:
                      session_image_url: /media/images/alpha.png
                      summary: Session summary
                      description: Session description in WYSIWYG.
                    organisation_profile:
                      organisation_name: Alpha Organisation
                      website_url: 'https://www.alpha.com'
                      organisation_address:
                        venue_name: Alpha Venue
                        address_1: Bravo Address 1
                        address_2: ''
                        address_3: ''
                        country_code: HK
                      organisation_image_url: /media/images/alpha.png
                      summary: Organisation summary
                      description: Session description in WYSIWYG
              example-2:
                value:
                  basic_information:
                    basic_information:
                      session_name: Session - Bravo
                      session_event_type: 1
                      session_event_categories:
                        - 4
                        - 5
                      session_tags:
                        - tag - alpha
                        - tag - bravo
                      organisation_name: Organisation - Bravo
                    session_timing:
                      session_timing: series
                      start_date: '2099-12-25'
                      end_date: '2100-01-10'
                      start_time: '13:00:00'
                      end_time: '17:00:00'
                      duration: 4
                      days_of_the_week:
                        - id: 0
                          name: Monday
                          enabled: false
                        - id: 1
                          name: Tuesday
                          enabled: false
                        - id: 2
                          name: Wednesday
                          enabled: false
                        - id: 3
                          name: Thursday
                          enabled: false
                        - id: 4
                          name: Friday
                          enabled: true
                        - id: 5
                          name: Saturday
                          enabled: true
                        - id: 6
                          name: Sunday
                          enabled: true
                      number_of_weeks: 3
                      number_of_sessions: 9
                      start_end_datetimes:
                        - start_datetime: '2099-12-25 13:00:00'
                          end_datetime: '2099-12-25 17:00:00'
                        - start_datetime: '2099-12-27 13:00:00'
                          end_datetime: '2099-12-27 17:00:00'
                        - start_datetime: '2099-12-29 13:00:00'
                          end_datetime: '2099-12-29 17:00:00'
                    location:
                      location: physical_location
                      venue_name: Alpha Venue
                      address_1: Bravo Address 1
                      address_2: ''
                      address_3: ''
                      country_code: HK
                  attendees_and_pricing:
                    currency: 2
                    price_per_session: 10
                    quantity_per_session: 25
                  session_details:
                    session_details:
                      session_image_url: /media/images/alpha.png
                      summary: Session summary
                    organisation_profile:
                      organisation_name: Alpha Organisation
                      website_url: 'https://www.alpha.com'
                      organisation_address:
                        venue_name: Alpha Venue
                        address_1: Bravo Address 1
                        address_2: ''
                        address_3: ''
                        country_code: HK
                      organisation_image_url: /media/images/alpha.png
                      summary: Organisation summary
                      description: Organisation description in WYSIWYG
  /videos/streamers:
    get:
      summary: get-video-streamers
      tags:
        - Sessions API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      minimum: 1
                    name:
                      type: string
              examples:
                example-1:
                  value:
                    - id: 1
                      name: Zoom
                    - id: 2
                      name: YouTube
                    - id: 3
                      name: Facebook
      operationId: get-video-streamers
      description: Video Streamers list
      parameters:
        - schema:
            type: string
            pattern: application/json; version=1
          in: header
          name: Accept
          required: true
        - schema:
            type: string
            pattern: ^(en|zh_hant|zh_hans|ja|ko)$
          in: header
          name: Accept-Language
  /countries:
    get:
      summary: get-countries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      pattern: '^[A-Z]{2}$'
                    name:
                      type: string
              examples:
                example-1:
                  value:
                    - code: CN
                      name: China
                    - code: HK
                      name: 'Hong Kong SAR, China'
                    - code: PH
                      name: Philippines
                    - code: SG
                      name: Singapore
      operationId: get-countries
      description: Get the list of Countries using the Country Codes as keys.
      parameters:
        - schema:
            type: string
            pattern: application/json; version=1
          in: header
          name: Accept
          required: true
        - schema:
            type: string
            pattern: ^(en|zh-hant|zh-hans|ja|ko)$
          in: header
          name: Accept-Language
      tags:
        - Sessions API
  /currencies:
    get:
      summary: get-currencies
      tags:
        - Sessions API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      minimum: 1
                    name:
                      type: string
                    iso:
                      type: string
                    average_processing_fees:
                      type: number
                    fee_information:
                      type: string
                    system_fee:
                      type: number
              examples:
                example-1:
                  value:
                    - id: 1
                      name: Macanese Pataca
                      iso: MOP
                      system_fee: 10.5
                      average_processing_fees: 2
                      fee_information: Alpha Bravo WYSIWYG text
                    - id: 2
                      name: Hong Kong Dollar
                      iso: HKD
                      system_fee: 10.5
                      average_processing_fees: 3
                      fee_information: Charlie Delta WYSIWYG text
                    - id: 3
                      name: US Dollar
                      iso: USD
                      system_fee: 10.5
                      average_processing_fees: 4
                      fee_information: Echo Foxtrot WYSIWYG text
      operationId: get-currencies
      description: Get the list of currencies.
      parameters:
        - schema:
            type: string
            pattern: application/json; version=1
          in: header
          name: Accept
          required: true
        - schema:
            type: string
            pattern: ^(en|zh-hant|zh-hans|ja|ko)$
          in: header
          name: Accept-Language
security:
  - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT
